flows_5CG4464HCY.json
[{"id":"54749521.a276bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea4a29a.6d2b4d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e15f71a2.de45a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46bdd4cf.8e638c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7254482.55c068","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":1},{"id":"cbff671.57c6898","type":"ui_tab","z":"54749521.a276bc","name":"Dispositivos","icon":"dashboard","order":2},{"id":"27c3e61a.ef6b8a","type":"ui_tab","z":"54749521.a276bc","name":"Administrar","icon":"dashboard","order":3},{"id":"88c85809.d05bc8","type":"ui_group","z":"","name":"HWID existentes","tab":"c7254482.55c068","order":1,"disp":true,"width":"18","collapse":false},{"id":"4235151e.8d2fec","type":"ui_group","z":0,"name":"Borrar elementos","tab":"c7254482.55c068","order":3,"disp":true,"width":"6","collapse":false},{"id":"e828ca02.df6db8","type":"ui_group","z":0,"name":"gp_Create_Dev","tab":null,"order":3,"disp":true,"width":"6","collapse":false},{"id":"6f734221.9085ac","type":"ui_group","z":0,"name":"Group 2","tab":null,"order":4,"disp":true,"width":6},{"id":"270d483e.094808","type":"ui_group","z":0,"name":"Alta de dispositivo","tab":"c7254482.55c068","order":2,"disp":true,"width":"6","collapse":false},{"id":"352f3505.506a5a","type":"ui_group","z":0,"name":"Crear prefijo","tab":"c7254482.55c068","disp":true,"width":"6","collapse":false},{"id":"b652d391.5f22e","type":"ui_group","z":0,"name":"Prefijos","tab":"c7254482.55c068","disp":true,"width":"6","collapse":false},{"id":"56ba3ea8.0d506","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5a1a6834.af2238","type":"mqtt in","z":"54749521.a276bc","name":"","topic":"/response/getHwid","qos":"2","broker":"46bdd4cf.8e638c","x":170,"y":960,"wires":[["2c6a7bd1.d13414"]]},{"id":"2585550e.eaefda","type":"template","z":"54749521.a276bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n{{#payload}}\n  <li>{{.}}</li>\n{{/payload}}\n</ul>","output":"str","x":1000,"y":780,"wires":[["bada33a1.b8fee","817b78bb.5beda8"]]},{"id":"bada33a1.b8fee","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1190,"y":880,"wires":[]},{"id":"96421df4.311be","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":960,"wires":[]},{"id":"48533b45.458b54","type":"mqtt out","z":"54749521.a276bc","name":"","topic":"","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":1170,"y":400,"wires":[]},{"id":"7d13a573.9cf5ac","type":"inject","z":"54749521.a276bc","name":"","topic":"/command/addHwid","payload":"{        \"filename\": \"nombre\",        \"index\": 0,        \"deviceType\": \"RSDQ\",          \"devicePrefix\":\"welewl2e\",       \"task\":0   } ","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["28f15f03.0375d"]]},{"id":"b4b548f9.6017d8","type":"delay","z":"54749521.a276bc","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":540,"wires":[["2964e1e6.ab6bfe","1268292c.ab5747"]]},{"id":"2964e1e6.ab6bfe","type":"mqtt out","z":"54749521.a276bc","name":"","topic":"/command/getHwid","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":1590,"y":440,"wires":[]},{"id":"28f15f03.0375d","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":80,"wires":[]},{"id":"2c4d82df.004f6e","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":240,"wires":[]},{"id":"528c1f5.00e8ce","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":400,"wires":[]},{"id":"220a4767.ad5908","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":240,"wires":[["2c4d82df.004f6e"]]},{"id":"bdd9ac43.b6911","type":"function","z":"54749521.a276bc","name":"","func":"if (msg.topic == \"/command/addHwid\"){\n    var hwid = global.get(\"hwid\");\n}else if (msg.topic == \"/command/delDeviceWhole\"){\n    var hwid = global.get(\"delete_hwid\");\n}else if (msg.topic == \"/command/addDeviceWhole\"){\n    var hwid = global.get(\"add_prefix_hwid\");\n    var pre = global.get(\"add_prefix_pre\");\n    msg.payload.devicePrefix = pre\n}\nmsg.payload.HWID = hwid\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":480,"wires":[["528c1f5.00e8ce","48533b45.458b54","b4b548f9.6017d8"]]},{"id":"860469d.36c7f98","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":640,"wires":[]},{"id":"519af055.445d2","type":"json","z":"54749521.a276bc","name":"","property":"payload","action":"","pretty":false,"x":630,"y":800,"wires":[["2585550e.eaefda","199c9ba3.276044","7b08463a.bdf198"]]},{"id":"199c9ba3.276044","type":"function","z":"54749521.a276bc","name":"","func":"msg.options= [];\nvar temp1, temp2;\nif (msg.payload){\n    for ( var i=0; i< msg.payload.length; i++){\n        temp1 = msg.payload[i];\n        temp2 = msg.payload[i];\n        msg.options.push(temp1);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":880,"wires":[["2d9a76e3.207a1a","1281d52e.b0977b"]]},{"id":"2c6a7bd1.d13414","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"list_hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["aba477b3.12f548"]]},{"id":"8e4af30e.ed51b","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":1280,"wires":[]},{"id":"8ec26d3f.f4649","type":"inject","z":"54749521.a276bc","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":740,"wires":[["aba477b3.12f548","41d1d84b.0e1a98"]]},{"id":"aba477b3.12f548","type":"function","z":"54749521.a276bc","name":"","func":"var msg = {};\nmsg.payload = global.get(\"list_hwid\");\nmsg.prefixes = global.get(\"list_prefix\");\n/*\nfor (var i=0; i < msg.payload.length; i++){\n    if (msg.prefixes[msg.payload[i]]){\n        msg.payload[i] = msg.payload[i] +\" --> \"+msg.prefixes[msg.payload[i]];\n    }\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["519af055.445d2","96421df4.311be"]]},{"id":"7b08463a.bdf198","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":960,"wires":[]},{"id":"7c22f2a6.5c1e7c","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"delete_hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":780,"wires":[[]]},{"id":"b254fe8.fbe98","type":"inject","z":"54749521.a276bc","name":"","topic":"","payload":"{        \"filename\": \"nombre\",        \"index\": 0,        \"deviceType\": \"RSDQ\",        \"HWID\": \"wush26662\" ,       \"devicePrefix\":\"welewl2e\",       \"task\":0   } ","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1390,"y":380,"wires":[["2964e1e6.ab6bfe"]]},{"id":"1268292c.ab5747","type":"mqtt out","z":"54749521.a276bc","name":"","topic":"/command/getDevicePrefix","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":1540,"y":540,"wires":[]},{"id":"9322ed5a.ca838","type":"mqtt in","z":"54749521.a276bc","name":"","topic":"/response/getDevicePrefix","qos":"2","broker":"46bdd4cf.8e638c","x":190,"y":1160,"wires":[["76c2cc2d.0c7a94"]]},{"id":"3f3c24ad.7c3e6c","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"add_prefix_hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":980,"wires":[[]]},{"id":"1c7e759a.7e666a","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"add_prefix_pre\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1060,"wires":[[]]},{"id":"76c2cc2d.0c7a94","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"list_prefix\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1240,"wires":[["41d1d84b.0e1a98"]]},{"id":"41d1d84b.0e1a98","type":"function","z":"54749521.a276bc","name":"","func":"var msg = {};\nmsg.payload =  global.get(\"list_prefix\");\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1100,"wires":[["5daf5476.fb251c"]]},{"id":"8dcf7f73.7a162","type":"template","z":"54749521.a276bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n{{#payload}}\n  <li> {{key}} --> {{value}}</li>\n{{/payload}}\n</ul>","output":"str","x":880,"y":1080,"wires":[["25f0dc25.9616a4","8e4af30e.ed51b"]]},{"id":"5daf5476.fb251c","type":"json","z":"54749521.a276bc","name":"","property":"payload","action":"","pretty":true,"x":730,"y":1080,"wires":[["8dcf7f73.7a162","4d422e5e.e27e3"]]},{"id":"4d422e5e.e27e3","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":1240,"wires":[]},{"id":"12030a3e.a5a896","type":"inject","z":"54749521.a276bc","name":"","topic":"","payload":"{        \"filename\": \"nombre\",        \"index\": 0,        \"deviceType\": \"RSDQ\",          \"devicePrefix\":\"\",       \"task\":0   } ","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":560,"wires":[["b4b548f9.6017d8"]]},{"id":"90e497a9.195da8","type":"ui_button","z":"54749521.a276bc","name":"","group":"270d483e.094808","order":2,"width":"6","height":"1","passthru":false,"label":"Añadir HWID","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"nombre\",        \"index\": 0,        \"deviceType\": \"RSDQ\",        \"HWID\": \"\" ,  \"devicePrefix\":\"welewl2e\",\"task\":0 } ","payloadType":"json","topic":"/command/addHwid","x":130,"y":420,"wires":[["bdd9ac43.b6911"]]},{"id":"89ab4411.fe9c88","type":"ui_button","z":"54749521.a276bc","name":"bt_delete_device","group":"4235151e.8d2fec","order":2,"width":"6","height":"1","passthru":false,"label":"Borrar disposito","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"nombre\",  \"HWID\":\"\",      \"index\": 0,        \"deviceType\": \"RSDQ\",         \"task\":0 } ","payloadType":"json","topic":"/command/delDeviceWhole","x":110,"y":580,"wires":[["bdd9ac43.b6911"]]},{"id":"4a6ccd59.650474","type":"ui_button","z":"54749521.a276bc","name":"bt_add_prefix","group":"352f3505.506a5a","order":2,"width":"6","height":"1","passthru":false,"label":"Crear Prefijo","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"nombre\",  \"HWID\":\"\",      \"index\": 0,        \"deviceType\": \"RSDQ\",         \"devicePrefix\":\"welewl2e\",\"task\":0 } ","payloadType":"json","topic":"/command/addDeviceWhole","x":140,"y":660,"wires":[["bdd9ac43.b6911"]]},{"id":"2d9a76e3.207a1a","type":"ui_dropdown","z":"54749521.a276bc","name":"dd_delete_group","label":"Hwid a borrar","place":"Select option","group":"4235151e.8d2fec","order":1,"width":"6","height":"2","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":990,"y":700,"wires":[["860469d.36c7f98","7c22f2a6.5c1e7c","aba477b3.12f548"]]},{"id":"1281d52e.b0977b","type":"ui_dropdown","z":"54749521.a276bc","name":"dd_hwid_group","label":"Hwid: ","place":"Select option","group":"352f3505.506a5a","order":1,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1140,"y":960,"wires":[["3f3c24ad.7c3e6c","aba477b3.12f548"]]},{"id":"e68b1bd5.e97bf8","type":"ui_text_input","z":"54749521.a276bc","name":"tb_hwid","label":"HWID","group":"270d483e.094808","order":1,"width":"6","height":"2","passthru":true,"mode":"text","delay":300,"topic":"/command/gewHwid","x":80,"y":200,"wires":[["220a4767.ad5908"]]},{"id":"8fa6d7be.f0f728","type":"ui_text_input","z":"54749521.a276bc","name":"tb_prefix","label":"Prefix: ","group":"352f3505.506a5a","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"/command/gewHwid","x":1133,"y":1057.6666259765625,"wires":[["1c7e759a.7e666a"]]},{"id":"817b78bb.5beda8","type":"ui_template","z":"54749521.a276bc","group":"88c85809.d05bc8","name":"tp_hwid","order":1,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1600,"y":840,"wires":[[]]},{"id":"25f0dc25.9616a4","type":"ui_template","z":"54749521.a276bc","group":"88c85809.d05bc8","name":"tp_prefijos","order":2,"width":"12","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1085,"y":1122.3333740234375,"wires":[[]]}]