flows_5CG4464HCY.json
[{"id":"2964b094.a5ec3","type":"tab","label":"On Start","disabled":false,"info":""},{"id":"54749521.a276bc","type":"tab","label":"node configurator flow","disabled":false,"info":""},{"id":"cc29597b.168108","type":"tab","label":"Visualizaci칩n","disabled":true,"info":""},{"id":"ba7390e3.d08ad","type":"tab","label":"Recargar","disabled":false,"info":""},{"id":"8bbd717f.dc433","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#8ec66c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"ACIS Configurator","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46bdd4cf.8e638c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7254482.55c068","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"cbff671.57c6898","type":"ui_tab","z":"54749521.a276bc","name":"Dispositivos","icon":"dashboard","order":2},{"id":"27c3e61a.ef6b8a","type":"ui_tab","z":"54749521.a276bc","name":"Administrar","icon":"dashboard","order":3},{"id":"88c85809.d05bc8","type":"ui_group","z":"","name":"Dispositivos existentes","tab":"c7254482.55c068","order":1,"disp":true,"width":"18","collapse":false},{"id":"4235151e.8d2fec","type":"ui_group","z":"","name":"Borrar elementos","tab":"c7254482.55c068","order":3,"disp":true,"width":"6","collapse":false},{"id":"e828ca02.df6db8","type":"ui_group","z":0,"name":"gp_Create_Dev","tab":null,"order":3,"disp":true,"width":"6","collapse":false},{"id":"6f734221.9085ac","type":"ui_group","z":0,"name":"Group 2","tab":null,"order":4,"disp":true,"width":6},{"id":"270d483e.094808","type":"ui_group","z":0,"name":"Alta de dispositivo","tab":"c7254482.55c068","order":2,"disp":true,"width":"6","collapse":false},{"id":"352f3505.506a5a","type":"ui_group","z":"","name":"Crear prefijo","tab":"c7254482.55c068","disp":true,"width":"6","collapse":false},{"id":"b652d391.5f22e","type":"ui_group","z":0,"name":"Prefijos","tab":"c7254482.55c068","disp":true,"width":"6","collapse":false},{"id":"92da1326.4d77a","type":"ui_group","z":"","name":"Restet","tab":"c7254482.55c068","order":6,"disp":false,"width":"18","collapse":false},{"id":"48533b45.458b54","type":"mqtt out","z":"54749521.a276bc","name":"","topic":"","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":1450,"y":440,"wires":[]},{"id":"7d13a573.9cf5ac","type":"inject","z":"54749521.a276bc","name":"","topic":"/command/addHwid","payload":"{        \"filename\": \"formatter_RSDQ.json\",        \"index\": 0,        \"deviceType\": \"RSDQ\",          \"devicePrefix\":\"\",       \"task\":0   } ","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":320,"wires":[["bcf301e8.9e37"]]},{"id":"b4b548f9.6017d8","type":"delay","z":"54749521.a276bc","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":580,"wires":[["573f0184.7d125","c99ee9eb.a55968"]]},{"id":"2964e1e6.ab6bfe","type":"mqtt out","z":"54749521.a276bc","name":"","topic":"","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":1970,"y":420,"wires":[]},{"id":"28f15f03.0375d","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":320,"wires":[]},{"id":"2c4d82df.004f6e","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":240,"wires":[]},{"id":"528c1f5.00e8ce","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":440,"wires":[]},{"id":"220a4767.ad5908","type":"function","z":"54749521.a276bc","name":"Estableciendo el valor del HWID en global","func":"global.set(\"hwid\",msg.payload);\nvar _system = global.get(\"systemName\");\nmsg.topic = _system+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":240,"wires":[["2c4d82df.004f6e"]]},{"id":"bdd9ac43.b6911","type":"function","z":"54749521.a276bc","name":"Parametros generales y especificos","func":"//Estableciendo valores de fichero y tipo de dispositivo\nvar _filename = global.get(\"filename\");\nvar _deviceType = global.get(\"deviceType\");\nvar _system = global.get(\"systemName\");\nmsg.payload.filename = _filename;\nmsg.payload.deviceType = _deviceType;\n\nswitch (msg.topic){\n    case \"/command/addHwid\":\n        var hwid = global.get(\"hwid\");\n        break;\n    case \"/command/delDeviceWhole\":\n        var hwid = global.get(\"delete_hwid\");\n    break;\n    case \"/command/addDeviceWhole\":\n        var hwid = global.get(\"add_prefix_hwid\");\n        var pre = global.get(\"add_prefix_pre\");\n        msg.payload.devicePrefix = pre;\n        break;\n}\n\n//A침adimos el topic al final\nmsg.topic = _system+msg.topic;\nmsg.payload.HWID = hwid\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["528c1f5.00e8ce","48533b45.458b54","b4b548f9.6017d8"]]},{"id":"b254fe8.fbe98","type":"inject","z":"54749521.a276bc","name":"","topic":"","payload":"{        \"filename\": \"formatter_RSDQ.json\",        \"index\": 0,        \"deviceType\": \"RSDQ\",        \"HWID\": \"wush26662\" ,       \"devicePrefix\":\"welewl2e\",       \"task\":0   } ","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1510,"y":300,"wires":[["c99ee9eb.a55968"]]},{"id":"1268292c.ab5747","type":"mqtt out","z":"54749521.a276bc","name":"","topic":"","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":1750,"y":580,"wires":[]},{"id":"90e497a9.195da8","type":"ui_button","z":"54749521.a276bc","name":"","group":"270d483e.094808","order":2,"width":"6","height":"1","passthru":false,"label":"A침adir HWID","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"formatter_RSDQ.json\",        \"index\": 0,        \"deviceType\": \"RSDQ\",        \"HWID\": \"\" ,  \"devicePrefix\":\"welewl2e\",\"task\":0 } ","payloadType":"json","topic":"/command/addHwid","x":170,"y":400,"wires":[["bdd9ac43.b6911"]]},{"id":"89ab4411.fe9c88","type":"ui_button","z":"54749521.a276bc","name":"bt_delete_device","group":"4235151e.8d2fec","order":2,"width":"6","height":"1","passthru":false,"label":"Borrar disposito","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"formatter_RSDQ.json\",  \"HWID\":\"\",      \"index\": 0,        \"deviceType\": \"RSDQ\",         \"task\":0 } ","payloadType":"json","topic":"/command/delDeviceWhole","x":150,"y":520,"wires":[["bdd9ac43.b6911"]]},{"id":"4a6ccd59.650474","type":"ui_button","z":"54749521.a276bc","name":"bt_add_prefix","group":"352f3505.506a5a","order":2,"width":"6","height":"1","passthru":false,"label":"Crear Prefijo","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"formatter_RSDQ.json\",  \"HWID\":\"\",      \"index\": 0,        \"deviceType\": \"RSDQ\",         \"devicePrefix\":\"welewl2e\",\"task\":0 } ","payloadType":"json","topic":"/command/addDeviceWhole","x":140,"y":660,"wires":[["bdd9ac43.b6911"]]},{"id":"e68b1bd5.e97bf8","type":"ui_text_input","z":"54749521.a276bc","name":"tb_hwid","label":"HWID","group":"270d483e.094808","order":1,"width":"6","height":"2","passthru":true,"mode":"text","delay":300,"topic":"/command/gewHwid","x":640,"y":240,"wires":[["220a4767.ad5908"]]},{"id":"e9b6bf56.264ad","type":"debug","z":"ba7390e3.d08ad","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":340,"wires":[]},{"id":"da152aa.ea1e5d8","type":"ui_button","z":"ba7390e3.d08ad","name":"bt_refresh","group":"92da1326.4d77a","order":2,"width":"18","height":"1","passthru":false,"label":"Refrescar Configuraci칩n","color":"","bgcolor":"","icon":"","payload":"{  \"filename\": \"formatter_RSDQ2.json\",  \"HWID\":\"\",      \"index\": 0,        \"deviceType\": \"RSDQ\",         \"task\":0 } ","payloadType":"json","topic":"/command/refresh","x":160,"y":340,"wires":[["e9b6bf56.264ad","a377524e.0cbb7"]]},{"id":"820db331.7aa4a","type":"mqtt out","z":"ba7390e3.d08ad","name":"","topic":"","qos":"","retain":"","broker":"46bdd4cf.8e638c","x":790,"y":220,"wires":[]},{"id":"bcf301e8.9e37","type":"function","z":"54749521.a276bc","name":"Estableciendo parametros","func":"var _filename = global.get(\"filename\");\nvar _deviceType = global.get(\"deviceType\");\nvar _system = global.get(\"systemName\");\nmsg.payload.filename = _filename;\nmsg.payload.deviceType = _deviceType;\nmsg.topic = _system+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["28f15f03.0375d"]]},{"id":"e80ca1b4.3597","type":"function","z":"2964b094.a5ec3","name":"Parametros sistema","func":"global.set(\"filename\", \"formatter_RSDQ.json\");\nglobal.set(\"deviceType\", \"RSD\");\nglobal.set(\"systemName\", \"DCDC\");\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["fa295f94.70cba"]]},{"id":"fa295f94.70cba","type":"debug","z":"2964b094.a5ec3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":200,"wires":[]},{"id":"b34000ba.5fadd","type":"inject","z":"2964b094.a5ec3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":200,"wires":[["e80ca1b4.3597"]]},{"id":"12030a3e.a5a896","type":"inject","z":"54749521.a276bc","name":"","topic":"","payload":"{        \"filename\": \"formatter_RSDQ.json\",        \"index\": 0,        \"deviceType\": \"RSDQ\",          \"devicePrefix\":\"\",       \"task\":0   } ","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":580,"wires":[["f27aa416.0fe898"]]},{"id":"f27aa416.0fe898","type":"function","z":"54749521.a276bc","name":"Estableciendo parametros","func":"var _filename = global.get(\"filename\");\nvar _deviceType = global.get(\"deviceType\");\nvar _system = global.get(\"systemName\");\nmsg.payload.filename = _filename;\nmsg.payload.deviceType = _deviceType;\nmsg.topic = _system+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":600,"wires":[["b4b548f9.6017d8"]]},{"id":"573f0184.7d125","type":"function","z":"54749521.a276bc","name":"Estableciendo parametros","func":"var _filename = global.get(\"filename\");\nvar _deviceType = global.get(\"deviceType\");\nvar _system = global.get(\"systemName\");\nmsg.payload.filename = _filename;\nmsg.payload.deviceType = _deviceType;\nmsg.topic = _system+\"/command/getDevicePrefix\";\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":580,"wires":[["1268292c.ab5747"]]},{"id":"c99ee9eb.a55968","type":"function","z":"54749521.a276bc","name":"Estableciendo parametros","func":"var _filename = global.get(\"filename\");\nvar _deviceType = global.get(\"deviceType\");\nvar _system = global.get(\"systemName\");\nmsg.payload.filename = _filename;\nmsg.payload.deviceType = _deviceType;\nmsg.topic = _system+\"/command/getHwid\";\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":440,"wires":[["2964e1e6.ab6bfe"]]},{"id":"b1610caa.d9e5c","type":"mqtt in","z":"54749521.a276bc","name":"","topic":"+/response/getHwid","qos":"2","broker":"46bdd4cf.8e638c","x":230,"y":1240,"wires":[["45557828.f6a968"]]},{"id":"41540266.71ae5c","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2680,"y":760,"wires":[]},{"id":"c0efb9a3.04a928","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"add_prefix_hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":880,"wires":[[]]},{"id":"150c00de.c8b8bf","type":"ui_dropdown","z":"54749521.a276bc","name":"dd_hwid_group","label":"Hwid: ","place":"Select option","group":"352f3505.506a5a","order":1,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":2350,"y":900,"wires":[["c0efb9a3.04a928","c1d31d3a.8fc6a"]]},{"id":"2f20ba3c.e03c06","type":"template","z":"54749521.a276bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n{{#payload}}\n  <li>{{.}}</li>\n{{/payload}}\n</ul>","output":"str","x":2090,"y":1020,"wires":[["b0672d21.86a58","61a794b3.19deec"]]},{"id":"b0672d21.86a58","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2300,"y":1000,"wires":[]},{"id":"1db0af0f.8a0c81","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1860,"y":1160,"wires":[]},{"id":"2238d7ce.7111e8","type":"function","z":"54749521.a276bc","name":"","func":"msg.options= [];\nvar temp1, temp2;\nif (msg.payload){\n    for ( var i=0; i< msg.payload.length; i++){\n        temp1 = msg.payload[i];\n        temp2 = msg.payload[i];\n        msg.options.push(temp1);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":920,"wires":[["682f9327.8f30fc","150c00de.c8b8bf"]]},{"id":"1f878e40.df4652","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"list_hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1180,"wires":[["c1d31d3a.8fc6a"]]},{"id":"64d81537.9d565c","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2220,"y":1200,"wires":[]},{"id":"843a4785.c65188","type":"inject","z":"54749521.a276bc","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1390,"y":1200,"wires":[["c1d31d3a.8fc6a","db8b1358.afc94"]]},{"id":"c1d31d3a.8fc6a","type":"function","z":"54749521.a276bc","name":"","func":"var msg = {};\nmsg.payload = global.get(\"list_hwid\");\nmsg.prefixes = global.get(\"list_prefix\");\n/*\nfor (var i=0; i < msg.payload.length; i++){\n    if (msg.prefixes[msg.payload[i]]){\n        msg.payload[i] = msg.payload[i] +\" --> \"+msg.prefixes[msg.payload[i]];\n    }\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":1120,"wires":[["1db0af0f.8a0c81","2238d7ce.7111e8","2f20ba3c.e03c06","5d0ddec0.14cdb"]]},{"id":"5d0ddec0.14cdb","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1990,"y":1100,"wires":[]},{"id":"d2f9de7a.6764b","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"delete_hwid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":680,"wires":[[]]},{"id":"94f9cc18.e4eec","type":"mqtt in","z":"54749521.a276bc","name":"","topic":"+/response/getDevicePrefix","qos":"2","broker":"46bdd4cf.8e638c","x":240,"y":1500,"wires":[["92c62819.22d278"]]},{"id":"13c869aa.3bd436","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"add_prefix_pre\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1600,"wires":[[]]},{"id":"b25d97ee.6f9b08","type":"function","z":"54749521.a276bc","name":"","func":"global.set(\"list_prefix\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1500,"wires":[["db8b1358.afc94"]]},{"id":"db8b1358.afc94","type":"function","z":"54749521.a276bc","name":"","func":"var msg = {};\nmsg.payload =  global.get(\"list_prefix\");\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1440,"wires":[["f9b1bba1.632ec8","648eb21d.81fd5c"]]},{"id":"f9b1bba1.632ec8","type":"template","z":"54749521.a276bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n{{#payload}}\n  <li> {{key}} --> {{value}}</li>\n{{/payload}}\n</ul>","output":"str","x":2020,"y":1280,"wires":[["64d81537.9d565c","e6858bb1.f593b8"]]},{"id":"648eb21d.81fd5c","type":"debug","z":"54749521.a276bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2060,"y":1440,"wires":[]},{"id":"682f9327.8f30fc","type":"ui_dropdown","z":"54749521.a276bc","name":"dd_delete_group","label":"Hwid a borrar","place":"Select option","group":"4235151e.8d2fec","order":1,"width":"6","height":"2","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":2110,"y":740,"wires":[["c1d31d3a.8fc6a","d2f9de7a.6764b","41540266.71ae5c"]]},{"id":"5e7facb8.819954","type":"ui_text_input","z":"54749521.a276bc","name":"tb_prefix","label":"Prefix: ","group":"352f3505.506a5a","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":603,"y":1597.6666259765625,"wires":[["13c869aa.3bd436"]]},{"id":"61a794b3.19deec","type":"ui_template","z":"54749521.a276bc","group":"88c85809.d05bc8","name":"tp_hwid","order":1,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2260,"y":1060,"wires":[[]]},{"id":"e6858bb1.f593b8","type":"ui_template","z":"54749521.a276bc","group":"88c85809.d05bc8","name":"tp_prefijos","order":2,"width":"12","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2260,"y":1320,"wires":[[]]},{"id":"a837ab3c.1277c8","type":"switch","z":"54749521.a276bc","name":"filtrando topics de sistema","property":"payload.start","propertyType":"msg","rules":[{"t":"eq","v":"systemName","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":1240,"wires":[["1f878e40.df4652","ade0573.606fea8"]]},{"id":"7b9b4b67.baea74","type":"function","z":"54749521.a276bc","name":"","func":"_start = msg.topic.split(\"/\")[0];\nmsg.payload.start = _start;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1240,"wires":[["a837ab3c.1277c8","5e6146a7.0c94a8"]]},{"id":"ade0573.606fea8","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":1240,"wires":[]},{"id":"5e6146a7.0c94a8","type":"debug","z":"54749521.a276bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":1340,"wires":[]},{"id":"45557828.f6a968","type":"json","z":"54749521.a276bc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1240,"wires":[["7b9b4b67.baea74"]]},{"id":"92c62819.22d278","type":"json","z":"54749521.a276bc","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1500,"wires":[["1a872b5d.57a9e5"]]},{"id":"1a872b5d.57a9e5","type":"function","z":"54749521.a276bc","name":"","func":"_start = msg.topic.split(\"/\")[0];\nmsg.payload.start = _start;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1500,"wires":[["585f0bf1.147544"]]},{"id":"585f0bf1.147544","type":"switch","z":"54749521.a276bc","name":"filtrando topics de sistema","property":"payload.start","propertyType":"msg","rules":[{"t":"eq","v":"systemName","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1500,"wires":[["b25d97ee.6f9b08"]]},{"id":"a377524e.0cbb7","type":"function","z":"ba7390e3.d08ad","name":"Estableciendo parametros","func":"var _filename = global.get(\"filename\");\nvar _deviceType = global.get(\"deviceType\");\nvar _system = global.get(\"systemName\");\nmsg.payload.filename = _filename;\nmsg.payload.deviceType = _deviceType;\nmsg.topic = _system+\"/command/refresh\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["820db331.7aa4a"]]}]